<html>
  <head>
    <link href="../css/cpu.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <header>
      <img
        src="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal.svg"
        alt="UTC Sheffield OLP Logo "
      />
    </header>
    <div class="printpage">
      <h1>School as a CPU : Exercise</h1>
      <ul>
        <li>
          <a target="_blank" href="posters.html">Posters</a>
        </li>
        <li>
          <a target="_blank" href="teachers.html">Teachers</a>
        </li>
        <li>
          <a target="_blank" href="worksheets.html">Worksheets</a>
        </li>
      </ul>

      <h2>Doing the Activity</h2>
      <ul>
        <li>Decide on how many students you want doing each level and the names
          of rooms you are going to use for your physical RAM locations. Adust
          the parameters and config files for this.</li>
        <li>Print out the 3 resulting HTML files
          <ul>
            <li>The worksheets are 2 pages per student and can be printed double
              sided</li>
            <li>The Posters must be printed single sided</li>
            <li>The teachers sheets have the answers on, so print how you think
              best.</li>
          </ul>
        </li>
        <li>All students will need a clipboard and pen / pencil</li>
        <li>On the day stick up the posters around school in the places
          indicated on the posters</li>
        <li>The different level worksheets have different things to do for the
          Fetch Decode and Execute stages so go through them with the students
          as much as you think needed.</li>
      </ul>
      <details>
        <summary>Credits</summary>
        Poster favicon by spacepixel from
        <a
          href="https://thenounproject.com/browse/icons/term/poster/"
          target="_blank"
          title="Poster Icons"
        >Noun Project</a>
        (CC BY 3.0)
      </details>
    </div>
  </body>
</html>