<!DOCTYPE html>
<html>
    <head>
      <link href="../css/cpu.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>        
        <div class="printpage">
            <h1>School as a CPU : Exercise</h1>
            <ul>
                <li>
                    <a target="_blank" href="posters.html">Posters</a>
                </li>
                <li>
                    <a target="_blank" href="teachers.html">Teachers</a>
                </li>
                <li>
                    <a target="_blank" href="worksheets.html">Worksheets</a>
                </li>
            </ul>


            <details>
                <summary>Credits</summary>
                    Poster favicon by spacepixel from <a href="https://thenounproject.com/browse/icons/term/poster/" target="_blank" title="Poster Icons">Noun Project</a> (CC BY 3.0)
            </details>
        </div>
    </body>
</html>
